<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    
        const socket = io();


        const inputName = document.getElementById('name')
        const textArea = document.getElementById('comment')
        const submitBtn = document.getElementById('submit') 
        
        const commentBox = document.querySelector('.my_card_here')
        let enterdUserName = inputName.value;


        submitBtn.addEventListener('click', (e)=> {
            e.preventDefault()
            let comment = textArea.value
            if(!comment){
                return
            }

            postMessage(comment)
        })


       function postMessage(comment) {
           let data = {
               username: enterdUserName,
               comment: comment
           }
           apendToDOM(data)
           textArea.value = ''

           broadcastComment(data)

       }

       function apendToDOM(data) {
           let divTag = document.createElement('div')
           divTag.classList.add('card-body')

           let markUp = `
           <h5 class="card-title">
            ${data.username}<h6><span class="badge bg-warning"><small>time: ${moment(data.time).format('LT')}</small></span></h6>
            </h5>
            ${data.comment}
           `
           divTag.innerHTML = markUp

           commentBox.prepend(divTag)
       }

       function broadcastComment(data) {
           socket.emit('comment', data)
       }

       socket.on('comment', (data)=>{
           apendToDOM(data)
       })
</script>

</body>
</html>