<%- include("./partials/layout-start", {title: title}) %>
<%- include("./partials/menu") %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= title %></h1>
        <br>
        <hr>
        <a class="btn btn-sm btn-success" href="book/create">Добавить запись</a>
    </div>
</div>

<%- include("./partials/layout-end") %>

