<div id="comment_form" >
  <div class="row">
    <div class="col-4">
      <form>
          <input type="text" name="name" id="name" placeholder="Name">
          <textarea rows="10" name="comment" id="comment" placeholder="Comment"></textarea>
          <button type="submit" id="submit" name="submit">Add Comment</button>
      </form>

    </div>
    <div class="col">
      <div class="card my_card_here">
        </div>
      </div>
    </div>
  </div>

</div>