<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-6">
            <div class="bg-white comment-section">
                <div class="d-flex flex-row user p-2"><img class="rounded-circle" src="https://i.imgur.com/EQk6lCz.jpg" width="50">
                    <div class="d-flex flex-column ml-2"><span class="name font-weight-bold">Chris Hemsworth</span><span>10:30 PM, May 25</span></div>
                </div>
                <div class="mt-2 p-2">
                    <p class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="d-flex justify-content-between p-3 border-top"><span>Leave a comment</span>
                    <div class="d-flex align-items-center border-left px-3 comments"><i class="fa fa-comment"></i><span class="ml-2">6</span></div>
                </div>
            </div>
        </div>
    </div>
</div>